@tailwind base;
@tailwind components;
@tailwind utilities;

.media-item-rating[data-rating='1']::before,
.media-item-rating[data-rating='1.0']::before {
  content: '⭐☆☆☆☆';
}

.media-item-rating[data-rating='1.5']::before {
  content: '⭐½☆☆☆';
}

.media-item-rating[data-rating='2']::before,
.media-item-rating[data-rating='2.0']::before {
  content: '⭐⭐☆☆☆';
}

.media-item-rating[data-rating='2.5']::before {
  content: '⭐⭐½☆☆';
}

.media-item-rating[data-rating='3']::before,
.media-item-rating[data-rating='3.0']::before {
  content: '⭐⭐⭐☆☆';
}

.media-item-rating[data-rating='3.5']::before {
  content: '⭐⭐⭐½☆';
}

.media-item-rating[data-rating='4']::before,
.media-item-rating[data-rating='4.0']::before {
  content: '⭐⭐⭐⭐☆';
}

.media-item-rating[data-rating='4.5']::before {
  content: '⭐⭐⭐⭐½';
}

.media-item-rating[data-rating='5']::before,
.media-item-rating[data-rating='5.0']::before {
  content: '⭐⭐⭐⭐⭐';
}

/* Htmx Spinner Item */
  .my-indicator{
        display:none;
    }
    .htmx-request .my-indicator{
        display:inline;
    }
    .htmx-request.my-indicator{
        display:inline;
    }

