@tailwind base;
@tailwind components;
@tailwind utilities;

.media-item-rating[data-rating='1']::before,
.media-item-rating[data-rating='1.0']::before {
  content: '⭐☆☆☆☆';
}

.media-item-rating[data-rating='1.5']::before {
  content: '⭐½☆☆☆';
}

.media-item-rating[data-rating='2']::before,
.media-item-rating[data-rating='2.0']::before {
  content: '⭐⭐☆☆☆';
}

.media-item-rating[data-rating='2.5']::before {
  content: '⭐⭐½☆☆';
}

.media-item-rating[data-rating='3']::before,
.media-item-rating[data-rating='3.0']::before {
  content: '⭐⭐⭐☆☆';
}

.media-item-rating[data-rating='3.5']::before {
  content: '⭐⭐⭐½☆';
}

.media-item-rating[data-rating='4']::before,
.media-item-rating[data-rating='4.0']::before {
  content: '⭐⭐⭐⭐☆';
}

.media-item-rating[data-rating='4.5']::before {
  content: '⭐⭐⭐⭐½';
}

.media-item-rating[data-rating='5']::before,
.media-item-rating[data-rating='5.0']::before {
  content: '⭐⭐⭐⭐⭐';
}

a {
	text-decoration: underline;
}

/* Htmx Spinner Item */
  .my-indicator{
        display:none;
    }
    .htmx-request .my-indicator{
        display:inline;
    }
    .htmx-request.my-indicator{
        display:inline;
    }

    /* Actual Blog css*/
       ul {
            list-style-type: disc; /* or circle, square, etc. */
            margin-left: 20px; /* ensure some margin for the marker */
        }
        li {
            margin: 5px 0; /* add some margin between items */
        }
        /* Reset potential inherited styles */
        ul, li {
            list-style: initial;
            display: list-item;
        }

	 .title {
            font-size: 2em; /* Equivalent to the default h1 font size */
            font-weight: bold; /* Equivalent to the default h1 font weight */
            margin: 0; /* Remove default margins */
            line-height: 1.2; /* Equivalent to the default h1 line height */
            text-align: center; /* Center the text horizontally */
        }

	 .description {
            font-size: 1.5em; /* Equivalent to the default h1 font size */
	    font-style: italic;
            margin: 0; /* Remove default margins */
            line-height: 1.2; /* Equivalent to the default h1 line height */
            text-align: center; /* Center the text horizontally */
        }

	.code{
		background-color: lightgray;
		padding:10px;
	}

