package components
import "github.com/art3xias23/go-blog/domain"

templ BlogPost(post domain.Post){
<div id="post-title">{post.Title}</div>
<div id="post-description">{post.Description}</div>
@tagList(post.Tags)

<div id="content">{post.Content}</div>
}

templ tagList(tags []string){
	for _,tag:= range tags{
	<div id="post-tag">{tag}</div>
	}
}
