package components

import "github.com/art3xias23/go-blog/domain"
import "strings"

templ LatestPosts(posts []domain.Post){
<div class="latest-posts-container">
img := strings.Join(string[]{"assets/img/posts", {item.ImageLocation}})
    for _, item:=range posts{
        <div class="latest-post">
            <h3>{item.Title}</h3>
            <img src=img alt="blog-image"/>
            <textarea>{item.Description}</textarea>
        </div>
    }
</div>
}